{
    "PRIVATE_GITHUB_SIGNING_KEY": ["-----BEGIN RSA PRIVATE KEY-----",
        "RThhrVOIuZexoR13c4sAojKOTtqW6tV003eh8ymdiJTnpWHbmbR5yCRpOIMqXBTl",
        "nmjrMYgbOcSuKa1/aBcAQ/JpzCQjnKtvoP6Mqi38+NKytBgJV5LRbNgVOXqlUory",
        "uw7jku8FAhT3yQMYeZv7cLrkJ05JtTMVIxJ/jQIDAQABAoIBAQCJvxRraGfQUzyn",
        "MIIEpAIBAAKCAQEA3aIAKAaR8lasL0Ehl/dthRKSH0zVJFSx6JIxqwrr7qbinT1s", "SJcRUG99e4bQHOi7UwqaH1gwC0M4didiwxGikj7k15O3H1UupYi9tqPAeJq/z12j",
        "daR+o4I64CPTVUTrd/GPAOWXr1HsO/hfbpsKyUyu3bC+sWyAl/mL5Aq+9h7bMBUD",
        "PFH1dEItmpYDg5VvUr3plMHfjEX5PQ+S6DViwTtbPYzMejiihFsVkByIMVq+orKD",
        "XofnzCPDEYyG8Jw80p/mcPWyLhwPwByfq1OQdkYbk6Cl9GJRJL2YyzwQYhLFv5qn",
        "qHLSe3N3tzca3a22YnBbU0TxwcwqaoGNKdoZFVYubaV+qtiZUNkAPq0pqFj2t8Zo",
        "90+dHsct9OyPxmxX8LUJJjqgd28aq23nRteJUXLDlWA1lf7SPcH1S+4jAoGBAMHf",
        "8fLlyKNMw/shrLikLwnucDJasVThrs/43y431D6PAoGBAJvM0xJSRtcC/72O1qXd",
        "iDzJbIx5AoGBAO3KDQP3eDi4PHraOirm0MYSyTk3deO5Uiz041viw0In0y9Z4+Ae",
        "TtPwXgNiROb6mTFbyHSwtNnHI0NTWANNsvARZNki4mFzbRa0NJqbnLpfvnDCB2yy",
        "Ikj0oKPebkyz9sKiPJJPpj8pGsDpmhESn+CS9lqXSJIG6zadr7a47UoyGSC7EO4r",
        "mycOwMS1iK1OLf0TCyGItLybuEmTRgFEx0Jyi8AHOZAethnSm28YVt0X7bPBLfFu",
        "bdUZ4fY3PGrktc729TDzNvRVm61evEvQQeApbmx0dQT4QHGc1KI4LBOYA/tRH4Ed",
        "NdsTn/9bXqRYvcpCPY+pfdx2UsXmR5gg8DZiTzuzUA0Ykt8uf16mcdDnbvhUhC6b",
        "S2FiI+bB1Rl0xePNdkIoNGHQl9I7NJsIFcp4K/5dQijtWxkJ1ZEIWZ/4G8kUNFZi",
        "bwJts1c+pViazf9G0VwNLbPvpChFmrJw8L7sz+iFWfPj5Zits6kFhF86F8aUDjYM",
        "vkRhllKSgjv/8oGsbrydd6JMyqA4RNFrjdwc2Jo+0g7PhCTaXj+MjiBCPs6kVxU4",
        "PqxiMJd9RpYvBgRcRFKdIg75AoGATZve+W7muwcl85lM22MDDkFsSTqmUUTDz6js",
        "m76kauK4/hrOQF52GiRvBLTgJaKeBa3dFSotLkndrltlpCh9eBFOMqohkOQjMbfj",
        "x8GrojsCgYBibrRfm/Y3nHObkIRHs/UD2h2hjA855H9nGLpvYf4NnZDjLHaWbDa3",
        "htGPzPoM71gMohju8bt2qRQ9Tk4YfkSNqhwSrA1gOxqTfpuDXNgAeyUYfBjqW5cd",
        "rWWDS8EXGqLjLbdvKvPh7QutQtkwsLToIuprRcc3w9SGK7LtmHBOHQ
    ],
    "PERIL_INTEGATION_ID": "865",
    "WEB_URL": "https://danger.peril",
    "DB_URL": "localhost:27017"
}
